.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
header{
    background-color: #150872;
    color: #CDCDCD ;
    padding: 16px 0;
}

header .title-container{
    font-size: 25px;
}

header .container,
section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container > h2 {
    margin-left: 15px;
}

header nav ul li {
    display: inline;
    margin-left: 16px;
}

#btn-nav{
    display: none;
}

header nav ul li a {
    text-decoration: none;
    color: #CDCDCD;
    font-size: 20px;
    font-weight: bold;
}

section .container {
    align-items: flex-start;
}
section {
    padding: 24px 0;
}
section h2 {
    margin-bottom: 10px;
}

section p {
    margin-bottom: 10px;
    text-align: justify;
}
.brands-stores li {
    display: inline;
    margin-right: 8px;
    list-style: none;
}

.brands-stores img{
    height: 30px;
}

.logo-img{
    max-width: 500px;
    width: 80%;
    margin-right: 20px;
}



#contact .container {
    display: block;
}

.follow-social ul li img {
    height: 20px;
}
.follow-social ul li {
    list-style: none;
    cursor: pointer;
}
.follow-social ul  {
    display: flex;
    gap: 8px;
}

.container .methods-contact {
    display: flex;
    justify-content: space-between;
}

.form-contact form input,textarea,#form-button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 10px;
    outline-color: #150872;
}

form textarea {
    resize: none;
}
.form-contact form #form-button {
    background-color: #150872;
    color: #CDCDCD;
    font-size: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: all ease .6s;
}

.form-contact form #form-button:hover {
    background-color: #4230e7;
}

footer {
    background-color: #150872;
    color: #CDCDCD;
    padding: 15px 0;
    text-align: center;
}



