*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pontano Sans", sans-serif;
}
h2 {
    font-family: "Bigshot One", serif;
    font-weight: 400;
    margin-bottom: 10px;
}